@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    --tw-text-opacity: 1;
  color: rgb(39 39 42 / var(--tw-text-opacity));
  }
}


* {
    scroll-behavior: smooth;
}

.accordion-button.collapsed {
  color: rgb(76, 76, 76);
}

.accordion-button:not(.collapsed) {
  color: #000000;
}